/** Media Queries **/
// Media queries
@mixin telefono {
    @media only screen and (min-width: $telefono) {
        @content;
    }
}
@mixin tablet {
    @media only screen and (min-width: $tablet) {
        @content;
    }
}  
@mixin desktop {
    @media only screen and (min-width: $desktop) {
        @content;
    }
}
@mixin macbook_air {
    @media only screen and (min-width: $macbook_air) {
        @content;
    }
}
@mixin macbook_pro_13 {
    @media only screen and (min-width: $macbook_pro_13) {
        @content;
    }
}

// Grid
@mixin grid-columns($column1,$column2,$spacing) {
    grid-template-rows: unset;
    display: grid;
    column-gap: $spacing;
    grid-template-columns: $column1 $column2;
    align-items: center;
    justify-items: center;
    grid-auto-flow: column;
}
@mixin grid-rows($row1,$row2,$spacing) {
    grid-template-columns: unset;
    display:grid;
    row-gap: $spacing;
    grid-template-rows: $row1 $row2;
    align-items: center;
    justify-items: center;
}
@mixin grid-col-row($columns,$rows,$spacing) {
    display:grid;
    gap: $spacing;
    grid-template-columns: repeat($columns, 1fr);
    grid-template-rows: repeat($rows, 1fr);
    align-items: center;
    justify-items: center;
}

// Buttons
@mixin buttonSmall($color,$colorHover,$bgColor,$bgColorHover,$display) {
    display: $display;
    padding: 0.4rem 0.8rem;    
    border:none;
    border-radius: 1rem;   
    font-size:1.6rem;
    text-align: center;
    text-decoration: none;
    color: $color;
    background-color: $bgColor; 
    transition-property: color,background-color;
    transition-duration: 0.8s;
    cursor: pointer;
    &:hover{
        color: $colorHover;
        background-color: $bgColorHover;
    }
    @include tablet{
        padding: 0.5rem 1rem;
        margin: 0;
    }   
}

@mixin buttonLarge($color,$colorHover,$bgColor,$bgColorHover,$display) {
    display: $display;
    padding: 1rem 2rem;    
    border:none;
    border-radius: 2rem;   
    text-align: center;
    font-size:1.6rem;
    text-decoration: none;
    color: $color;
    background-color: $bgColor; 
    transition-property: color,background-color;
    transition-duration: 0.8s;
    cursor: pointer;
    &:hover{
        color: $colorHover;
        background-color: $bgColorHover;
    }
    @include tablet{
        padding: 1.5rem 3rem;
        margin: 0;
    }   
}
