body{
    font-family: $secondary-font;
    font-weight: $regular;
}

h1, h2, h3, h4 {
    font-family: $main-font;
    font-weight: $bold;
    color: $neutral-1;
    text-align: center;    
}

h1 {
    font-size: 2rem;
    @include telefono{
        font-size: 3rem;
    }
    @include tablet{
        font-size: 3.5rem;
    }
    @include desktop{
        font-size: 4rem;
    }
}

h2 {
    font-size: 4rem;
    @include telefono{
        font-size: 4.5rem;
    }
    @include tablet{
        font-size: 5.5rem;
    }
    @include desktop{
        font-size: 6rem;
    }
}

h3 {
    font-size: 2.2rem;
    @include telefono{
        font-size: 2.3rem;
    }
    @include tablet{
        font-size: 2.4rem;
    }
    @include desktop{
        font-size: 2.5rem;
    }
}

h4 {
    font-size: 1.5rem;
    @include telefono{
        font-size: 1.6rem;
    }
    @include tablet{
        font-size: 1.7rem;
    }
    @include desktop{
        font-size: 1.8rem;
    }
}

p, span {
    font-family: $secondary-font;
    font-weight: $regular;
    color: $neutral-1;
    line-height: 1.8rem;
    font-size: 1.6rem;
    
    @include desktop{
        font-size: 1.7rem;
    }
}

ul {
    list-style: none;
}

li {
    font-family: $link-font;
    font-weight: $regular; 
    color: $neutral-2;
    text-align: justify;
    line-height: 2.5rem;
    transition-property: color;
    transition-duration: .5s;

    font-size: 1.9rem;
    @include telefono{
        font-size: 2rem;
    }
    @include tablet{
        font-size: 2.1rem;
    }
    @include desktop{
        font-size: 2.2rem;
    }
}

a {
    font-family: $link-font;
    font-weight: $bold; 
    color: $neutral-2;   
    text-align: center;
    text-decoration: none;
    transition-property: color;
    transition-duration: .5s;
    cursor: pointer;
    &:hover {
        color: $color-1;
    } 

    font-size: 1.7rem;
    @include telefono{
        font-size: 1.8rem;
    }
    @include tablet{
        font-size: 1.9rem;
    }
    @include desktop{
        font-size: 2rem;
    }
}

a svg, button svg {
    color: $neutral-2;
    text-decoration: none;
    transition-property: color;
    transition-duration: .5s;
    cursor: pointer;
    &:hover {
        color: $color-1;
    } 
    
    font-size: 2rem;
    @include telefono{
        font-size: 2.1rem;
    }
    @include tablet{
        font-size: 2.2rem;
    }
    @include desktop{
        font-size: 2.3rem;
    }
}